.custom-block
  padding .8rem 1.8rem
  border-left-style solid
  border-left-width .5rem
  border-radius: 2px
  margin .5rem 0

  p
    font-size 16px!important
    margin .5rem 0!important

  .custom-title
    font-size 18px!important
    font-weight 600!important

.custom-block.error
  background #ffe6e6
  border-color #d56363
  color #4d0000
  .custom-title
    color #d56363

.custom-block.warn
  background #fbffd4
  border-color #ecca3c
  color #6b5900
  .custom-title
    color #ecca3c

.custom-block.info
  background #cbeafa
  border-color #3498db
  color #6854A1
  .custom-title
    color #3498db

.custom-block.tips
  background #f3f5f8
  border-color #67cc86
  color #215d42
  .custom-title
    color #67cc86

.align-block
  display flex

.align-left
  justify-content left

.align-block.center
  justify-content center

.align-block.right
  justify-content flex-end
