// Base Setting.
.article-wrapper
  transition all .3s
  background transparent
  font-family Microsoft JhengHei fixed,Helvetica Neue,Microsoft JhengHei,Helvetica,Arial,sans-serif

  .tag
    display inline-block
    margin-right .4em

    .tag-block
      display block
      font-size 14px
      padding .2rem .5rem
      background var(--bodyBg)
      margin-bottom 1rem
      &:hover
        background var(--customBlockBg)

  .extension-section
    display flex
    justify-content flex-end
    padding .5rem 0 1rem

    .last-updated
      font-size 14px
      color #22979B
      time
        color $accentColor

  .content-wrapper
    .article-info
      border-bottom 1px solid var(--borderColor)

  .author-info
    margin-bottom .5rem

  @media screen and (min-width $mq-md)
    padding .5rem .5rem 0

  @media screen and (min-width $mq-lg)
    padding 1.5rem .5rem .5rem

// Classic mode.
.article-wrapper.classic

  > *
    @extend $card-box

  .content-wrapper
    margin-bottom 1rem
    .article-info
      padding .5rem .3rem

    .title
      margin 1rem 0
      padding 5px 0
      font-size 30px
      font-weight 600




// Vocus mdoe.
.article-wrapper.vocus
  width 100%
  margin 0 auto
  background: var(--mainBg)
  margin-bottom 2rem

  .content-wrapper
    .title
      margin 1.5rem 0
      font-size 26px
      letter-spacing -.01em

      @media screen and (min-width $mq-md)
        font-size 38px

  .author-info
    box-sizing border-box
    border-top 1px solid var(--borderColor)
    border-bottom 1px solid var(--borderColor)
    padding 1.5rem 1rem
    margin-bottom 2rem
    // background var(--blurBg)
    // box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 6px 0px;


