html, body, header, nav, aside, main, section, aside,
article, section, footer, div,span, iframe, menu, summary,
h1, h2, h3, h4, h5, h6, p, img, ol, ul, li
  margin 0
  padding 0
  border 0
  font-size 100%
  vertical-align baseline

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, main
  display: block

ol, ul
  list-style:  none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
	content: '';
	content: none;

table
	border-collapse: collapse;
	border-spacing: 0;

h1
  font-size 200%

h2
  font-size 180%

h3
  font-size 160%

h4
  font-size 140%

h5
  font-size 120%

h6
  font-size 100%

a
  text-decoration none
