$widget-more-link
  display flex
  padding .2rem 0
  border-top 1px solid var(--borderColor)
  text-align: right
  justify-content: flex-end

  a
    display inline-block
    color var(--textLightenColor)
    font-size 16px
    transition .2s

    &:hover
      padding-right .8rem

$rule-widget
  max-height 12.5rem
  overflow-y auto

  @media screen and (min-width $mq-lg)
    max-height 25rem

  a
    color var(--textColor)
    opacity .6

  > *
    display flex
    position relative
    align-items center
    justify-content space-between
    padding .35rem 0
    transition .2s ease

    &:hover
      padding-left .8rem
      color $accentColor

    &:not(:last-child)
      border-bottom 1px solid #ddd

    &.router-link-exact-active
      padding-left .8rem
      color #fff
      background $accentColor

$rule-widget-name
  display inline-block
  font-size .9rem
  font-weight 500

$rule-widget-amount
  background var(--textColor)
  margin-right .5em
  border-radius: 8px;
  color var(--mainBg)
  width 20px
  text-align center
  padding: 0 .24rem
  font-size .6rem
  line-height 1rem
