$content-wrapper
  max-width $contentWidth
  margin 0 auto
  padding 1rem 1.5rem

  &:not(.footer)
    margin-bottom 1rem

    @media screen and (min-width $contentWidth + 80)
      border-radius 5px


  @media screen and (min-width: $mq-lg)
    padding 1rem 2rem
