$content-wrapper
  max-width $contentWidth
  margin 0 auto
  box-sizing border-box
  padding 1rem 1.5rem

  &:not(.footer)
    margin-bottom .5rem
    @media screen and (min-width $contentWidth + 80)
      border-radius 5px

  @media screen and (min-width: $mq-md)
    padding 1.5rem 2.5rem
