.archive-arrow
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 9px solid #00DDDD;
  margin-left .2rem
  vertical-align: middle
  display:inline-block;
  padding 1px
  transition: .2s ease

  &.right
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);


  &.left
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);


  &.up
    transform: rotate(0deg);
    -webkit-transform: rotate(-0deg);


  &.down
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

